
bin/
obj/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
*.sln.iml

*.nupkg
.nuget/
packages/

ScaffoldingReadMe.txt


.DS_Store
Thumbs.db

*.log


*.db
*.sqlite


.toolVersions

.env
.env.*
